/* CSS DIRECTORY
	1. =GLOBAL
	2. =PRIMARY
	3. =HEADER
	4. =SIDENAV
	5. =FOOTER
	6. =INDEX
	7. =POST
	8. =COMMENTS

*/

/* 1. =GLOBAL
   ============================= */
img {
    border: 0;
    max-width: 100%;
}

/* 3. =HEADER
   ============================= */
header{
    height: 350px;
    /*background: url("img/cover_typewriter_overlay.jpg") 50% 50% no-repeat;*/
    background: #28b5f4;
}

header nav {
    background: #0085c1;
}

header nav div.logo{
    display: flex;
}

header nav ul li {
    padding: 0 15px;
    cursor: pointer;
}

header nav ul li img.circle {
    height: 55px;
    padding-top: 10px;
}
header nav ul li a.avatar {
    line-height: 2;
}

header nav ul li.active a:hover{
    background-color: transparent;
}

header h1 {
    text-align: center;
    color: #fff;
    margin-top: 0;
}

header div.titles {
    position: relative;
    padding-top: 90px;
    height:calc(100% - 65px); /*remove header height*/
}
header div.subheading {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

/* 4. =SIDENAV
   ============================= */

div.side-nav div.connected_card {
    background: #0085c1;
    text-align: center;
    padding: 25px 0;
    margin-bottom: 15px;
}
div.side-nav div.connected_card p {
    font-size: 18px;
    line-height: 18px;
}





/* 6. =INDEX
   ============================= */

div.list_posts {
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;

}
div.list_posts .row {
    width:250px;
    margin-left: 45px;
}

div.list_posts .row .chapter_number {
    text-align: center;
}

/* 7. =POST
   ============================= */
div.container div.post {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height:33px;
}

div.container div.post_content::first-letter {
    font-weight: 500;
    font-size: 250%;
}


div.container div.post_content {
    text-align: justify;
}


/* 8. =COMMENTS
   ============================= */
p.comment_heading {
    color: #0085c1;
    font-weight: 500;
}

div.comments div.form_submit_comment {
    display: flex;
    justify-content: space-between;
}

div.comments div.form_submit_comment button {
    align-self: flex-end;
    margin-bottom: 20px;
}

/* 8. =ALERTS
   ============================= */

div.alert {
    background: #72e7ff;
    padding: 5px 30px;
    margin: 25px auto 35px;
}