{% extends "DMBBlogBundle::layout.html.twig" %}

{% block main_title %}
    {{ page.title }}
{% endblock %}

{% block content %}
    <div class="post">
        <div class="post_content">
            {{ page.content|raw }}
        </div>
    </div>

    {% endblock %}
